.cache/
__pycache__/
pretrained/
.vscode
.idea
.DS_Store
ckpt
wandb
dataset/** 
start.sh
output/**
migrations/**
app/instance/diskrot.db
.env
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
app/static/music/** 

music_backend/venv/**
music_queue/venv/**
music_backend/venv/**
music_backend/static/**
diffrhythm/venv/**
music_backend/venv/**
music_queue/venv/**
music_database/diskrot.db
music_backend/env/**
